.usy-badge-container {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;

  &.variant-filled {
    background-color: var(--badge-color);
    border: 2px solid var(--badge-color);
    color: var(--usy-color-white);
  }

  &.variant-outline {
    background-color: var(--usy-color-white);
    border: 2px solid var(--badge-color);
    color: var(--badge-color);
  }

  /*
   * Size
   */

  &.size-small {
    padding: var(--usy-spacing-2px) var(--usy-spacing-6px);
    font-size: 0.7rem;
    border-radius: 3px;
  }

  &.size-medium {
    padding: 3px var(--usy-spacing-6px);
    font-size: 0.8rem;
    border-radius: 3px;
  }

  &.size-large {
    padding: var(--usy-spacing-6px) var(--usy-spacing-8px);
    font-size: 0.9rem;
    border-radius: 4px;
  }
}
