.usy-badge-container {
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;

  /*
   * Size
   */

  &.size-small {
    padding: var(--usy-spacing-2px) var(--usy-spacing-6px);
    font-size: 0.7rem;
    border-radius: 3px;
  }

  &.size-medium {
    padding: 3px var(--usy-spacing-6px);
    font-size: 0.8rem;
    border-radius: 3px;
  }

  &.size-large {
    padding: var(--usy-spacing-6px) var(--usy-spacing-8px);
    font-size: 0.9rem;
    border-radius: 4px;
  }
}
