.usy-select-container {
  display: flex;
  flex-direction: column;
  position: relative;

  .field-container {
    height: var(--usy-element-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--usy-element-border-color);
    border-radius: var(--usy-element-border-radius);
    padding: 0 var(--usy-spacing-12px);
    font-size: var(--usy-fontsize-sm);
    user-select: none;
    cursor: pointer;

    svg {
      margin-left: var(--usy-spacing-4px);
    }
  }

  .menu-overlay {
    min-width: 100%;
    position: absolute;
    left: 50%;
    top: calc(100% + var(--usy-spacing-4px));
    transform: translateX(-50%);
    border-radius: var(--usy-spacing-6px);
    border: 1px solid var(--usy-color-light-5);
    background-color: var(--usy-color-white);
    padding: var(--usy-spacing-10px) 0;
    filter: drop-shadow(0px 0px 6px var(--usy-color-light-2));
    z-index: var(--usy-zIndex-latest);

    ul {
      width: 100%;
      margin: 0;
      padding: 0;

      .item-container {
        padding: var(--usy-spacing-10px) var(--usy-spacing-16px);
        border-radius: var(--usy-spacing-4px);
        cursor: pointer;

        &:hover {
          background-color: var(--usy-color-light-0);
        }

        .item-label {
          font-size: var(--usy-fontsize-sm);
          text-wrap: nowrap;
          margin: 0;
        }
      }
    }
  }
}
