/*
 * Normalize
 */

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*
 * Variables
 */

:root {
  /*
  * Elements
  */

  --usy-element-height: 40px;
  --usy-element-border-radius: 4px;
  --usy-element-border-color: #cccccc;

  --usy-layout-horizontal-padding: 18px;

  --usy-drawer-header-height: 66px;
  --usy-drawer-footer-height: 66px;

  --usy-modal-header-height: 40px;

  --usy-toggle-section-header-height: 44px;

  --usy-button-height-xs: 30px;
  --usy-button-height-md: 36px;
  --usy-button-height-lg: 40px;

  /*
  * Font Sizes
  * @export as variables
  */

  --usy-fontsize-xs: 0.7rem;
  --usy-fontsize-sm: 0.9rem;
  --usy-fontsize-md: 1rem;
  --usy-fontsize-lg: 1.15rem;
  --usy-fontsize-xl: 1.35rem;

  /*
  * Font Weights
  * @export as variables
  */

  --usy-fontweight-thin: 100;
  --usy-fontweight-light: 200;
  --usy-fontweight-semilight: 300;
  --usy-fontweight-normal: 400;
  --usy-fontweight-semibold: 500;
  --usy-fontweight-bold: 600;
  --usy-fontweight-heavy: 700;

  /*
  * Spacing
  * @export as variables
  */

  --usy-spacing-2px: 2px;
  --usy-spacing-4px: 4px;
  --usy-spacing-6px: 6px;
  --usy-spacing-8px: 8px;
  --usy-spacing-10px: 10px;
  --usy-spacing-12px: 12px;
  --usy-spacing-14px: 14px;
  --usy-spacing-16px: 16px;
  --usy-spacing-20px: 20px;
  --usy-spacing-24px: 24px;
  --usy-spacing-28px: 28px;
  --usy-spacing-32px: 32px;
  --usy-spacing-40px: 40px;
  --usy-spacing-48px: 48px;
  --usy-spacing-56px: 56px;
  --usy-spacing-64px: 64px;
  --usy-spacing-72px: 72px;
  --usy-spacing-80px: 80px;

  /*
  * Colors
  * @export as variables
  */

  --usy-color-primary: #16a085;
  --usy-color-primary-light: #1ccdaa;
  --usy-color-primary-dark: #107360;

  --usy-color-white: #ffffff;
  --usy-color-black: #000000;
  --usy-color-gray: #696e77;
  --usy-color-gold: #978365;
  --usy-color-bronze: #a18072;
  --usy-color-brown: #ad7f58;
  --usy-color-yellow: #ffe629;
  --usy-color-amber: #ffc53d;
  --usy-color-orange: #f76b15;
  --usy-color-tomato: #e54d2e;
  --usy-color-red: #e5484d;
  --usy-color-ruby: #e54666;
  --usy-color-crimson: #e93d82;
  --usy-color-pink: #d6409f;
  --usy-color-plum: #ab4aba;
  --usy-color-purple: #8e4ec6;
  --usy-color-violet: #6e56cf;
  --usy-color-iris: #5b5bd6;
  --usy-color-indigo: #3e63dd;
  --usy-color-blue: #0090ff;
  --usy-color-cyan: #00a2c7;
  --usy-color-teal: #12a594;
  --usy-color-jade: #29a383;
  --usy-color-green: #30a46c;
  --usy-color-grass: #46a758;
  --usy-color-lime: #bdee63;
  --usy-color-mint: #86ead4;
  --usy-color-sky: #7ce2fe;

  --usy-color-light-0: #f5f5f5;
  --usy-color-light-1: #ebebeb;
  --usy-color-light-2: #e0e0e0;
  --usy-color-light-3: #d6d6d6;
  --usy-color-light-4: #cccccc;
  --usy-color-light-5: #c2c2c2;
  --usy-color-light-6: #b8b8b8;
  --usy-color-light-7: #adadad;
  --usy-color-light-8: #a3a3a3;
  --usy-color-light-9: #999999;

  --usy-color-dark-0: #666666;
  --usy-color-dark-1: #5c5c5c;
  --usy-color-dark-2: #525252;
  --usy-color-dark-3: #474747;
  --usy-color-dark-4: #3d3d3d;
  --usy-color-dark-5: #333333;
  --usy-color-dark-6: #292929;
  --usy-color-dark-7: #1f1f1f;
  --usy-color-dark-8: #141414;
  --usy-color-dark-9: #0a0a0a;

  --usy-color-red-0: #eb7578;
  --usy-color-red-1: #e85e63;
  --usy-color-red-2: #e5484d;
  --usy-color-red-3: #e23237;
  --usy-color-red-4: #db1f25;
  --usy-color-red-5: #c51c21;
  --usy-color-red-6: #ae191e;
  --usy-color-red-7: #98161a;
  --usy-color-red-8: #821216;
  --usy-color-red-9: #6b0f12;

  --usy-color-green-0: #40c786;
  --usy-color-green-1: #36b879;
  --usy-color-green-2: #30a46c;
  --usy-color-green-3: #2a905f;
  --usy-color-green-4: #247d52;
  --usy-color-green-5: #1f6945;
  --usy-color-green-6: #195538;
  --usy-color-green-7: #13412b;
  --usy-color-green-8: #0d2e1e;
  --usy-color-green-9: #081a11;

  --usy-color-blue-0: #33a6ff;
  --usy-color-blue-1: #1a9bff;
  --usy-color-blue-2: #0090ff;
  --usy-color-blue-3: #0082e6;
  --usy-color-blue-4: #0073cc;
  --usy-color-blue-5: #0065b3;
  --usy-color-blue-6: #005699;
  --usy-color-blue-7: #004880;
  --usy-color-blue-8: #003a66;
  --usy-color-blue-9: #002b4d;

  --usy-color-amber-0: #ffd470;
  --usy-color-amber-1: #ffcd57;
  --usy-color-amber-2: #ffc53d;
  --usy-color-amber-3: #ffbd24;
  --usy-color-amber-4: #ffb60a;
  --usy-color-amber-5: #f0a800;
  --usy-color-amber-6: #d69600;
  --usy-color-amber-7: #bd8400;
  --usy-color-amber-8: #a37200;
  --usy-color-amber-9: #8a6000;

  /*
  * z-index
  */

  --usy-zIndex-100: 100;
  --usy-zIndex-200: 200;
  --usy-zIndex-200: 300;
  --usy-zIndex-300: 400;
  --usy-zIndex-500: 500;
  --usy-zIndex-600: 600;
  --usy-zIndex-700: 700;
  --usy-zIndex-800: 800;
  --usy-zIndex-900: 900;
  --usy-zIndex-latest: 1000;
}
