.usy-scrollable-container {
  overflow: hidden;

  &.scroll-vertical:hover {
    overflow-x: hidden;
    overflow-y: auto;
  }

  &.scroll-horizontal:hover {
    overflow-x: auto;
    overflow-y: hidden;
  }

  &.scroll-both:auto {
    overflow-x: hidden;
    overflow-y: auto;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--usy-color-light-1);
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--usy-color-light-7);
    border-radius: 3px;
  }
}
