:root {
  --usy-fontsize-xs: 0.7rem;
  --usy-fontsize-sm: 0.9rem;
  --usy-fontsize-md: 1rem;
  --usy-fontsize-lg: 1.2rem;
  --usy-fontsize-xl: 1.4rem;
  --usy-fontsize-gg1: 1.65rem;
  --usy-fontsize-gg2: 1.9rem;
}
