:root {
  --usy-fontsize-extra-small: 0.7rem;
  --usy-fontsize-small: 0.9rem;
  --usy-fontsize-medium: 1rem;
  --usy-fontsize-large: 1.2rem;
  --usy-fontsize-extra-large: 1.4rem;
  --usy-fontsize-gigant-1: 1.65rem;
  --usy-fontsize-gigant-2: 1.9rem;
}
